<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="opsview-status" data-view="Opsview-Status" data-unordered="true" data-title="Opsview Overview" data-moreinfo="Critical/Warnings"></div>
</li>
<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="opsview-hosts" data-view="Opsview-Hosts" data-unordered="true" data-title="Hosts Up/Down" data-moreinfo="Host Status"></div>
</li>
