<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="nagios-opsview" data-view="Nagios" data-unordered="true" data-title="Opsview Overview" data-moreinfo="All Events"></div>
</li>
<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
    <div data-id="nagios-opsview-hosts" data-view="Opsview" data-unordered="true" data-title="Hosts Up/Down" data-moreinfo="Host Status" style="background-color:#339966;"></div>
</li>
